.swal-container {
  background: rgba(0, 0, 0, 0) !important;
}

.swal-container__popup {
  background-color: $glass-white-2 !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 8px !important;
  box-shadow: $card-shadow !important;
  max-width: 64rem !important;
  padding: $m-size !important;
  width: fit-content !important;
}

.swal-container__icon {
  background: $white !important;
  .swal2-success-circular-line-right,
  .swal2-success-circular-line-left,
  .swal2-success-fix {
    opacity: 0;
  }
}

.swal-container__title {
  color: $dark-grey !important;
  font-size: $m-size !important;
  font-weight: 700 !important;
}
