//Colors
$dark-grey: #333333;
$glass-white-1: rgba(255, 255, 255, 0.01);
$glass-white-2: rgba(225, 225, 255, 0.25);
$white: #ffffff;
//Shadows
$card-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
//Font Sizes
$font-size-large: 1.8rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
